<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sqlite visualization</title>
  <style>
    * {
      font: 15px 'Segoe UI';
    }
    table, th, td {
      border: solid 1px #ddd;
      border-collapse: collapse;
      padding: 2px 3px;
      text-align: center;
    }
    table {
      margin-bottom: 16px;
    }
    th {
      font-weight: bold;
    }
  </style>
</head>
<body>
  {{{renderedTables}}}
</body>
</html>